# Application Settings
PROJECT_NAME="Exasol FastAPI Application"
ENVIRONMENT=development
DEBUG=True
API_V1_STR=/api/v1

# Exasol Database Configuration
EXASOL_HOST=127.0.0.1
EXASOL_PORT=8563
EXASOL_USER=sys
EXASOL_PASSWORD=exasol
# EXASOL_SCHEMA=PUBLIC
EXASOL_ENCRYPTION=True
EXASOL_VALIDATE_CERT=False

# Timeouts in seconds
EXASOL_CONNECTION_TIMEOUT=30
EXASOL_SOCKET_TIMEOUT=60
